<nav class="navBar shadow" style="top: 0px; background: white;">
    <ul>
        <li><a class="linkNav" href="/">
                <div class="logo">
                    <h3>A</h3>
                </div>
            </a></li>
        <li class="page"><a class="linkNav" href="#">Cuadros</a></li>
        <li class="page"><a class="linkNav" href="/Blog">Blog</a></li>

        <li class="iconCart"><a href="/cart/{{user.cart._id}}"><i class="material-icons">shopping_cart</i></a>
        </li>
        <li class="liAvatar">
            <div class="avatar"></div>
            <div class="user">
                <span class="rolRendered"></span>
                <span class="logout"></span>
            </div>
        </li>
    </ul>

</nav>
<div class="container">
    <div class="subContainer">
        <div class="cardContainer">
            {{#each products}}
            <div class="card">
                <div class="contentCard">
                    <div class="contentImg">
                        <img src="{{this.thumbnail}}">
                    </div>
                    <div class="cardDetail">
                        <div class="cardTitle">
                            <h4>{{this.title}}</h4>
                        </div><span>$ {{this.price}}</span><button data-cart="{{../user.cart._id}}"
                            data-id="{{this.id}}" class="btn add">agregar</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class"pagination">
            <ul class="pagination">
                <li>
                    <a{{#if pages.prevLink}} href="{{this.pages.prevLink}}" {{else}} style="visibility:hidden;" href=""
                        {{/if}}>
                        << antes</a>
                </li>
                <li>{{pages.page}}</li>
                <li>
                    <a{{#if pages.nextLink}} href="{{this.pages.nextLink}}" {{else}} style="visibility:hidden;" href=""
                        {{/if}}>
                        siguiente>></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
{{!--
<script type="module" src="/js/realTimeProducts.js"></script> --}}
<script type="module" src="/js/products.js"></script>